<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <main class="container-fluid p-0 d-flex">
      <section>
        <nav class="bg-light vh-100  flex-shrink-0 d-flex flex-column" style="width: 296px">
          <h1 class="m-5 fs-6"><a href="#"><img src="../assets/images/logo-ANSWER.svg" alt="Logo"></a></h1>
          <div class="nav-list list-group list-group-flush" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action mb-4 bg-light" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">
              <span class="material-icons me-3 align-bottom">
              poll
              </span>
              Dashboard
            </a>
            <a class="list-group-item list-group-item-action mb-4 bg-light" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">
              <span class="material-icons me-3 align-bottom">
                question_answer
              </span>
              Question
            </a>
            <a class="list-group-item list-group-item-action mb-4 bg-light" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">
              <span class="material-icons me-3 align-bottom">
                assignment
              </span>
              Assignment</a>
            <a class="list-group-item list-group-item-action mb-4 bg-light" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">
              <span class="material-icons me-3 align-bottom">
                video_library
              </span>
              Course</a>
            <a class="list-group-item list-group-item-action mb-4 bg-light" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">
              <span class="material-icons me-3 align-bottom">
                people
              </span>
              Admin</a>
            <a class="list-group-item list-group-item-action mb-4 bg-light" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">
              <span class="material-icons me-3 align-bottom">
                settings
              </span>
              Settings</a>
          </div>
          <div class="nav-user mt-auto d-flex m-5 align-items-center">
            <img  class="nav-user-img rounded-circle me-3" src="../assets/images/andychen.jpeg" alt="nav-user-img">
            <div class="nav-user-info">
              <p class="mb-1 lh-sm">Andy Chen</p>
              <p class="text-black-50 fs-7 m-0">andy0401@mail.com</p>
            </div>
          </div>
        </nav>
      </section>
      <%- contents %>
    </main>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>